<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yangyongwen.chapter11">

    <application>
        <activity android:name="com.yangyongwen.chapter11.Chapter11Activity">
        </activity>
    </application>

</manifest>