<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yangyongwen.chapter12">

    <application>
        <activity android:name="com.yangyongwen.chapter12.Chapter12Activity">
        </activity>
    </application>

</manifest>